<p-dialog header="Manage Buckets" [(visible)]="displayDialog" [modal]="true" [style]="{ minWidth: '80%' }">
  <div class="p-grid p-align-stretch vertical-container">
    <div class="p-col-3" *ngFor="let bucket of buckets">
      <p-card class="box box-stretched">
        <h4>{{ bucket.label }}</h4>
        <p>{{ bucket.bucketName }} ({{ bucket.region }})</p>
        <p-footer>
          <button
            pButton
            type="button"
            (click)="editBucket(bucket)"
            label="Save"
            icon="pi pi-check"
            style="margin-right: .25em"
          ></button>
          <button
            pButton
            type="button"
            (click)="editBucket(bucket)"
            label="Cancel"
            icon="pi pi-times"
            class="ui-button-secondary"
          ></button>
        </p-footer>
      </p-card>
    </div>
  </div>

  <button pButton type="button" (click)="showAddBucketDialog()" icon="pi pi-plus" label="Add"></button>

  {{ buckets | json }}

  <p-footer>
    <button type="button" pButton icon="pi pi-save" (click)="saveBuckets()" label="Save"></button>
    <button
      type="button"
      pButton
      icon="pi pi-close"
      (click)="hideDialog()"
      label="No"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>

<p-dialog header="Title" [(visible)]="displayForm" [modal]="true" *ngIf="displayForm && currentItem">
  <label for="label">label</label>
  <input type="text" pInputText [(ngModel)]="currentItem.label" />
  <label for="bucketName">bucketName</label>
  <input type="text" pInputText [(ngModel)]="currentItem.bucketName" />
  <label for="accessKeyId">accessKeyId</label>
  <input type="text" pInputText [(ngModel)]="currentItem.accessKeyId" />
  <label for="secretAccessKey">secretAccessKey</label>
  <input type="text" pInputText [(ngModel)]="currentItem.secretAccessKey" />
  <label for="region">region</label>
  <input type="text" pInputText [(ngModel)]="currentItem.region" />

  {{ currentItem | json }}
  <p-footer>
    <button type="button" pButton icon="pi pi-add" (click)="addBucket()" label="Add"></button>
    <button
      type="button"
      pButton
      icon="pi pi-close"
      (click)="hideForm()"
      label="No"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>
