:host ::ng-deep {
  .p-tree-toggler {
    display: none;
  }
  .p-tree {
    width: 100%;
    border: none;
    padding: 0.571em 0;
  }
}
:host ::ng-deep .p-tree-loading-mask {
  height: 100vh;
}

.tree-wrap {
  overflow: hidden;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
