:host ::ng-deep .ui-tree {
  width: 100%;
  border: none;
}

:host ::ng-deep .ui-tree-loading-mask {
  height: 100vh;
}

.tree-wrap {
  overflow: hidden;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
