.upload-button {
  overflow: hidden;
  width: 100%;
}

.upload-button input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  opacity: 0;
  width: 150px;
  cursor: pointer;
}

.upload-directory {
  width: 100%;
}

.options-panel {
  margin-bottom: 10px;
}

.submit-column {
  text-align: right;
}

.submit-column .box {
  float: right;
  margin-left: 15px;
}

.submit-column .checkbox-cell {
  padding-top: 5px;
}
