.upload-directory {
  width: 100%;
}

.upload-directory {
  width: 52%;
}

.options-panel {
  margin-bottom: 10px;
}

.select-folder,
.upload-directory {
  margin-right: 15px;
}

p-checkbox {
  margin-right: 15px;
  position: relative;
  top: -2px;
}
