<p-menubar class="menubar" [model]="menuItems">
  <div>
    <button pButton title="Refresh" class="ui-button-secondary" icon="pi pi-refresh" (click)="refreshTree()"></button>
  </div>
</p-menubar>

<div class="p-grid p-align-stretch vertical-container">
  <div class="p-col-3 box box-stretched">
    <p-dropdown class="bucket-dropdown" [options]="buckets" [(ngModel)]="currentBucket"></p-dropdown>

    <app-dir-tree
      [bucket]="currentBucket"
      (selected)="onSelected($event)"
      (status)="updateStatusBar($event)"
    ></app-dir-tree>
  </div>
  <div class="p-col-9 box box-stretched">
    <app-view [currentNode]="currentNode"></app-view>
  </div>
</div>
<app-status-bar (showQueue)="showQueue($event)"></app-status-bar>
<app-queue></app-queue>
<app-uploader (uploadQueued)="uploadQueued($event)" [bucket]="currentBucket"></app-uploader>
<app-bucket-manage (bucketsUpdated)="initializeBucktesList()"></app-bucket-manage>
