.thumbnail {
  float: left;
  padding: 0px;
}

.thumbnail img {
  object-fit: cover;
  cursor: pointer;
  border: thick solid transparent;
}

.thumbnail img:hover {
  border: thick solid #eaeaea;
}

.ui-dataview-content {
  padding: 0 !important;
}

:host >>> .ui-toolbar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-dataview-content {
  border-top: none !important;
}

:host >>> .ui-table-wrapper th {
  border-top: none !important;
  text-align: left;
}

.loading-bar {
  text-align: center;
}

:host >>> .ui-button {
  margin-left: 5px;
}
