<div class="ui-dataview ui-widget ui-dataview-grid" (window:resize)="setThumbSize()">
  <p-toolbar>
    <div class="ui-toolbar-group-left"></div>

    <div class="ui-toolbar-group-right">
      <span class="control-block">
        <i class="pi pi-plus-circle"></i>
        <span class="zoom-controller">
          <p-slider
            (onChange)="onZoomChange()"
            [(ngModel)]="thumbMultiplier"
            [step]="1"
            [min]="4"
            [max]="10"
          ></p-slider>
        </span>
        <i class="pi pi-minus-circle"></i>
      </span>
      <span class="control-block">{{ filesShown.length }} Files ({{ filesShownTotalSize | prettySize }})</span>
      <p-button icon="pi pi-bars" (onClick)="viewList()" *ngIf="!listView"></p-button>
      <p-button icon="pi pi-th-large" (onClick)="viewThumbs()" *ngIf="listView"></p-button>
    </div>
  </p-toolbar>

  <div *ngIf="loading" class="loading-bar ui-dataview-content ui-widget-content">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="!filesShown.length && !loading" class="placeholder">
    No files to show
  </div>

  <div *ngIf="listView && filesShown.length">
    <p-table
      [resizableColumns]="true"
      dataKey="key"
      selectionMode="single"
      [(selection)]="selectedFile"
      [columns]="columns"
      [value]="filesShown"
      autoLayout="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" class="ui-resizable-column">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="!listView && filesShown.length" class="ui-dataview-content ui-widget-content">
    <div class="ui-md-12">
      <div
        *ngFor="let file of filesShown"
        class="ui-md-3 thumbnail"
        (click)="setSelectedFile(file)"
        [style.height.px]="thumbH"
        [style.width.%]="thumbW"
      >
        <img *ngIf="file.thumbUrl" [style.width.%]="100" [style.height.%]="100" [src]="file.thumbUrl" />
        <i *ngIf="!file.thumbUrl" class="pi pi-spin pi-spinner"></i>
      </div>

      <div class="ui-helper-clearfix"></div>
    </div>
  </div>
</div>
<app-slide-show [(file)]="selectedFile"></app-slide-show>
